
vhaskova/.settings/org.eclipse.m2e.core.prefs
vhaskova/.classpath
vhaskova/.project
vhaskova/.settings/.jsdtscope
vhaskova/.settings/org.eclipse.jdt.core.prefs
vhaskova/.settings/org.eclipse.wst.common.component
vhaskova/.settings/org.eclipse.wst.common.project.facet.core.xml
vhaskova/.settings/org.eclipse.wst.jsdt.ui.superType.container
vhaskova/.settings/org.eclipse.wst.jsdt.ui.superType.name
vhaskova/.settings/org.eclipse.wst.validation.prefs
mvitkovic/.settings/org.eclipse.wst.jsdt.ui.superType.name
mvitkovic/.classpath
mvitkovic/.project
mvitkovic/.settings/.jsdtscope
mvitkovic/.settings/org.eclipse.jdt.core.prefs
mvitkovic/.settings/org.eclipse.m2e.core.prefs
mvitkovic/.settings/org.eclipse.wst.common.component
mvitkovic/.settings/org.eclipse.wst.common.project.facet.core.xml
mvitkovic/.settings/org.eclipse.wst.jsdt.ui.superType.container
mvitkovic/.settings/org.eclipse.wst.validation.prefs
